<br />

<div class="booyah-box col-xs-10 col-xs-offset-1">
	<h1>Profit</h1>

	<p>
		Flixter allows teachers to create free or paid courses for their content. If the course is free, the process is as simple for the user as signing up and enrolling. If the course is paid, the user is prompted for payment via <%= link_to 'Stripe Integration', 'http://www.stripe.com' %> and can be assured that we will never see their payment information.
		<br />
		<br />
		To learn more about our provacy policy, click <%= link_to 'here.', privacy_path %>
		<br />
		<br />
	</p>
</div>